.git
.github
.claude
.next
node_modules
out
build
npm-debug.log*
.env*
.DS_Store
*.pem
Dockerfile
README.md
public/active-senior-woman-smiling-after-workout.jpg
public/amazing-strong-young-sports-woman-make-sports-stretching-exercises.jpg
public/mapeamento_genetico.jpg
public/NutriGen_Clinic_Principal.png
public/NutriGen_Clinic_Negativa_Branca.png
public/NutriGen_Clinic_Monocromatica_Preta.png
public/logo_nutrigen_com_nome.jpg
public/sporty-senior-woman-with-short-hair-front-view.jpg
public/woan_exercite.jpg
